mixin skills-list(skillsList)
	+b.skills-list&attributes(attributes)
		each column in skillsList
			+e.column
				each skill in column
					if skill[2]
						+e.skill-row
							+e('input').checkbox(id=skill[2] type='checkbox' name=skill[1] checked)
							+e('label').label(for=id)= skill[0]
							if skill[3]
								+e.link
									+link(href='http://'+skill[3])= skill[3]
					else
						+e.skill-row
							+e('input').checkbox(id=skill[2] type='checkbox' name=skill[1])
							+e('label').label(for=id)= skill[0]
		block
